.wrapper {
  width: 90%;
  margin: auto;
}

.container {
  display: flex;
  background-color: white;
}

.leftContent {
  width: 50%;
  text-align: center;
  border-right: 1px solid black;
  padding: 1rem;
}

.rightContent {
  width: 50%;
  text-align: center;
}
