@value makerGreen from '../../common/colors.css';

.footer {
  color: white;
  background-color: makerGreen;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.text {
  font-size: 1rem;
}
